*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
}
#scores{
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: blueviolet;
}
.hero{
    width:100vw;
    height: 100vw;
    display: flex;
    justify-content:center;
    align-items:center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 75%;
    margin: 0 auto;
}
.hero > * {
    width:100%;
    text-align: left;
    margin-bottom: 20px;
}
.testBtn{
    text-decoration: none;
    background-color:purple;
    color: white;
    width: fit-content;
    padding: 12px 150px 12px 12px;
    margin: 20px;
    border-radius: 5px;
    display:block;
}
.choices{
display: flex;
flex-direction: column;
justify-content: flex-start;
}